{{!-- Member subscribe box --}}
<section class="subscribe-box inner">
    <h2 class="subscribe-box-title">{{t "Subscribe to {site_title}" site_title=@site.title }}</h2>
    <p class="subscribe-box-text">{{t "Subscribe today and get access to subscribers-only content and newsletters. Cancel at any time."}}</p>
    <a class="button button-solid" href="javascript:" data-portal="signup">
        {{{t "Subscribe now"}}}
    </a>
</section>
